<template lang="html">
  <div class="" v-if="$auth.ready()">
    <Nav></Nav>
    <div class="pt-5">
      <router-view></router-view>
    </div>
    <vue-snotify></vue-snotify>
  </div>
</template>

<script>
import Nav from '@/components/Nav'

export default {
  name: 'full',
  components: {
    Nav
  }
}
</script>

<style lang="css" scoped>
</style>
