<template>
  <div class="app flex-row align-items-center">
    <div class="container">
      <b-row class="justify-content-center mt-5">
        <b-col md="6" xl="5">
          <b-card-group>
            <b-card no-body class="p-4">
              <b-card-body>
                <b-form v-on:submit.prevent="login()">
                  <div class="text-center">
                    <img src="/images/logo.png" alt="xyz-logo" class="mx-auto img-fluid mb-3">
                    <h4>FORUM</h4>
                    <p class="text-muted mt-4">Sign In to your account</p>
                  </div>
                  <!-- <h1 class="pb-4 mb-4 text-center login-title">Sign In</h1> -->
                  <b-input-group class="mb-3">
                    <b-input-group-prepend><b-input-group-text><i class="bi-person"></i></b-input-group-text></b-input-group-prepend>
                    <b-form-input type="text" class="form-control" placeholder="Email" autocomplete="username email" v-model="credentials.email" />
                  </b-input-group>
                  <b-input-group class="mb-4">
                    <b-input-group-prepend><b-input-group-text><i class="bi-lock"></i></b-input-group-text></b-input-group-prepend>
                    <b-form-input type="password" class="form-control" placeholder="Password" autocomplete="current-password" v-model="credentials.password" />
                  </b-input-group>
                  <b-row>
                    <b-col sm="6" class="mt-2">
                      <b-button variant="primary" block class="px-4" type="submit">
                        <i v-if="loading" class="fa fa-circle-o-notch fa-spin"></i>
                        Sign In
                      </b-button>
                    </b-col>
                    <b-col sm="6" class="mt-2 text-right">
                      <!-- <b-button variant="link" class="px-0" to="forgot-password">Forgot password?</b-button> -->
                    </b-col>
                  </b-row>
                </b-form>
                <div class="mt-3">
                  Don's have an account?
                  <router-link :to="{ name: 'Register', params: {} }">Create one</router-link>
                </div>
              </b-card-body>
            </b-card>
          </b-card-group>
        </b-col>
      </b-row>

      <vue-snotify></vue-snotify>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Login',
  data() {
    return {
      loading: false,
      context: 'login context',

      credentials: {
        email: '',
        password: ''
      },
      error: null
    }
  },

  methods: {
    login() {
      let redirect = this.$auth.redirect()
      console.log(redirect);
      this.loading = true;
      this.$auth.login({
        url: 'auth/login',
        data: this.credentials,
        redirect: {name: redirect ? redirect.from.name : 'Posts'}
      })
      .then((res) => {
        console.log(res);
        console.log(this.$auth.token());
      }, (res) => {
        console.log(res);
        this.$snotify.error('Please check the email and password.', 'Login Failed', {timeout: 3000})

        this.error = res.data
      })
      .catch((error) => {
          this.$snotify.info(error.response, 'Error')
      })
      .finally(() => {
        this.loading = false
      })
    }
  },
  mounted() {
    document.body.classList.add('auth')
  },
  destroyed() {
    document.body.classList.remove('auth')
  }
}
</script>
