<template>
  <div class="app flex-row align-items-center">
    <div class="container">
      <b-row class="justify-content-center mt-5">
        <b-col md="6" sm="8">
          <b-card no-body class="mx-4">
            <b-card-body class="p-4">
              <b-form>
                <div class="text-center">
                  <img src="/images/logo.png" alt="xyz-logo" class="mx-auto img-fluid mb-3">
                  <h4>FORUM</h4>
                  <p class="text-muted mt-4">Create your account</p>
                </div>

                <b-form-group
                  :invalid-feedback="credentials.name ? null : 'Your name is required'"
                  :state="validated ? credentials.name != '' : null">
                    <b-input-group>
                      <b-input-group-prepend>
                        <b-input-group-text><i class="bi-person"></i></b-input-group-text>
                      </b-input-group-prepend>
                      <b-form-input type="text" class="form-control"
                        placeholder="Your name" autocomplete="name"
                        :state="validated ? credentials.name != '' : null"
                        v-model="credentials.name" />
                    </b-input-group>
                </b-form-group>

                <b-form-group
                  :invalid-feedback="credentials.email ? 'Email should be in valid format' : 'Email is required'"
                  :state="validated ? validEmail(credentials.email) : null">
                    <b-input-group>
                      <b-input-group-prepend>
                        <b-input-group-text><i class="bi-at"></i></b-input-group-text>
                      </b-input-group-prepend>
                      <b-form-input type="text" class="form-control"
                        placeholder="Email" autocomplete="email"
                        :state="validated ? validEmail(credentials.email) : null"
                        v-model="credentials.email" />
                    </b-input-group>
                </b-form-group>

                <b-form-group
                  :invalid-feedback="credentials.password ? 'Password must have 8 or more characters' : 'Password is required'"
                  :state="validated ? credentials.password != '' && validPassword(credentials.password) : null">
                    <b-input-group>
                      <b-input-group-prepend>
                        <b-input-group-text><i class="bi-lock"></i></b-input-group-text>
                      </b-input-group-prepend>
                      <b-form-input type="text" class="form-control"
                        placeholder="Password" autocomplete="name"
                        :state="validated ? credentials.password != '' && validPassword(credentials.password) : null"
                        v-model="credentials.password" />
                    </b-input-group>
                </b-form-group>

                <b-form-group
                  :invalid-feedback="credentials.confirm_password ? 'Passwords should match' : 'Repeat password is required'"
                  :state="validated ? credentials.confirm_password != '' && credentials.confirm_password == credentials.password : null">
                    <b-input-group>
                      <b-input-group-prepend>
                        <b-input-group-text><i class="bi-lock"></i></b-input-group-text>
                      </b-input-group-prepend>
                      <b-form-input type="text" class="form-control"
                        placeholder="Repeat Password" autocomplete="confirm_password"
                        :state="validated ? credentials.confirm_password != '' && credentials.confirm_password == credentials.password : null"
                        v-model="credentials.confirm_password" />
                    </b-input-group>
                </b-form-group>

                <b-button variant="success" block @click="register()">
                  <b-spinner small v-if="loading"></b-spinner>
                  Create Account
                </b-button>
              </b-form>
            </b-card-body>
          </b-card>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Register',
  data() {
    return {
      loading: false,
      credentials: {
        name: '',
        email: '',
        password: '',
        confirm_password: ''
      },
      validated: false,
      error: null
    }
  },

  methods: {
    register() {
      if (this.validate()) {
        let redirect = this.$auth.redirect()
        console.log(redirect);
        this.loading = true;
        this.$auth.login({
          url: 'auth/register',
          data: this.credentials,
          redirect: {name: redirect ? redirect.from.name : 'Posts'}
        })
        .then((res) => {
          console.log(res);
          console.log(this.$auth.token());
        }, (res) => {
          console.log(res);
          this.$snotify.error('Please check the email and password.', 'Login Failed', {timeout: 3000})

          this.error = res.data
        })
        .catch((error) => {
            this.$snotify.info(error.response, 'Error')
        })
        .finally(() => {
          this.loading = false
        })
      }
    },
    validate() {
      this.validated = true
      return this.credentials.name != '' &&
        this.validEmail(this.credentials.email) &&
        this.validPassword(this.credentials.password) &&
        this.credentials.password == this.credentials.confirm_password;
    },
    validEmail: function (email) {
      let re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    },
    validPassword(password) {
      return password && password.length >= 8
    }
  },
}
</script>
