<template lang="html">
  <div>
    <b-navbar toggleable="sm" type="dark" variant="dark" fixed="top">
      <b-navbar-brand :to="{ name: 'Posts', params: {} }">
        <img src="/images/logo.png" alt="XYZ" style="width: 60px;">
      </b-navbar-brand>

      <b-navbar-nav class="ml-auto" v-if="$auth.check()">
        <li class="nav-item mx-3">
          <router-link :to="{ name: 'New Post', params: {} }" class="btn btn-success px-5">New Post</router-link>
        </li>
      </b-navbar-nav>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
          <li class="nav-item">
            <router-link :to="{ name: 'Posts', params: {} }" class="nav-link">All Posts</router-link>
          </li>
          <li class="nav-item" v-if="$auth.check('admin')">
            <router-link :to="{ name: 'Pending Posts', params: {} }" class="nav-link">Post Pending Approval</router-link>
          </li>
        </b-navbar-nav>

        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto" v-if="$auth.check()">
          <b-nav-item-dropdown right>
            <!-- Using 'button-content' slot -->
            <template #button-content>
              <em>{{ $auth.user().name }}</em>
            </template>
            <!-- <b-dropdown-item href="#">Profile</b-dropdown-item> -->
            <b-dropdown-item @click="logout()">Logout</b-dropdown-item>
          </b-nav-item-dropdown>
        </b-navbar-nav>
        <b-navbar-nav class="ml-auto" v-else>
          <li class="nav-item">
            <router-link :to="{ name: 'Login', params: {} }" class="nav-link">Login</router-link>
          </li>
          <li class="nav-item">
            <router-link :to="{ name: 'Register', params: {} }" class="nav-link">Register</router-link>
          </li>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>

<script>
export default {
  name: 'Nav',
  methods: {
    logout () {
      this.$auth.logout({redirect: 'Login'})
    }
  }
}
</script>

<style lang="css" scoped>
</style>
