<template lang="html">
  <div class="container post-container mt-5" v-if="post && post.id">
    <h2 class="mb-1">{{ post.title }}</h2>
    <div class="text-muted mb-3 time">
      By {{ post.user }} at {{ post.created_at }}
    </div>
    <div class="">
      {{ post.body }}
    </div>

    <div class="actions my-4">
      <router-link v-if="$auth.user().id == post.user_id"
        :to="{ name: 'Edit Post', params: {id: post.id} }"
        class="btn btn-warning mr-3">
          <i class="bi-pencil-fill"></i>
          Edit Post
      </router-link>
      <b-button variant="danger" v-if="$auth.user().id == post.user_id" @click="deletePost()">
        <b-spinner small v-if="deleting"></b-spinner>
        <i class="bi-trash" v-else></i>
        Delete Post
      </b-button>
      <b-button variant="success" v-if="$auth.check('admin') && post.status != statuses.approved" @click="approvePost()">
        <b-spinner small v-if="approving"></b-spinner>
        <i class="bi-check-circle-fill" v-else></i>
        Approve Post
      </b-button>
    </div>

    <div class="comments-container" v-if="post.status == statuses.approved">
      <h5>Comments</h5>
      <div class="comments mt-3 pl-3">
        <div class="comment mb-3" v-for="comment in comments" :key="comment.id">
          <div class="text-muted time">
            {{ comment.user }} at {{ comment.created_at }}
          </div>
          <div class="comment-content">
            {{ comment.content }}
          </div>
        </div>
      </div>
      <div class="comment-editor">
        <b-form>
          <b-form-group
            label="Your Comment" label-for="comment-content"
            :invalid-feedback="comment.content ? null : 'Please type something.'"
            :state="commentValidated ? comment.content != '' : null">
            <b-form-textarea
              id="comment-content"
              v-model="comment.content"
              placeholder="Enter your comment here"
              max-rows="5"
              :state="commentValidated ? comment.content != '' : null"></b-form-textarea>
          </b-form-group>
          <div class="text-right">
            <b-button variant="success" @click="saveComment()">
              <b-spinner small v-if="commenting"></b-spinner>
              Save Comment
            </b-button>
          </div>
        </b-form>
      </div>
    </div>
    <div class="alert alert-warning mt-3" v-else>
      <h5>Important!</h5>
      This post is pending for administator approval.
      Currently it is visible to post owner and administators only.
      It will be visible to ohters after the approval.
    </div>
  </div>
</template>

<script>
export default {
  props: {
    item: {
      type: Object,
      default: null
    }
  },
  data () {
    return {
      post: null,
      comments: [],
      comment: {
        id: null,
        content: ''
      },
      commentValidated: false,
      loading: false,
      approving: false,
      deleting: false,
      commenting: false,
      statuses: {
        pending: 0,
        approved: 1
      }
    }
  },
  methods: {
    loadPost(id) {
      this.$http.get('/posts/' + id).then((res) => {
        this.post = res.data.data
        if (this.post && this.post.status == this.statuses.approved) {
          this.loadComments(this.post.id)
        }
      })
    },
    loadComments(id) {
      this.loading = true
      this.$http.get('/posts/' + id + '/comments').then((res) => {
        this.comments = res.data.data
        this.loading = false
      })
    },
    approvePost() {
      this.approving = true
      this.$http.put('/posts/' + this.post.id, {
        status: this.statuses.approved
      }).then((res) => {
        this.post = res.data.data
        this.$snotify.success('This post is visible to all users now.', 'Approved!', {timeout: 3000})
      }, () => {
        this.$snotify.error('Something went wrong while approving the post. Please try again.', 'Oops!', {timeout: 3000})
      }).then(() => {
        this.approving = false
      })
    },
    deletePost() {
      this.$snotify.error('Are you sure you want to delete this post?', 'Confirm', {
        type: 'confirm',
        backdrop: 0.5,
        closeOnClick: false,
        buttons: [
          {
            text: 'Yes',
            action: (toast) => {
              this.$snotify.remove(toast.id)
              this.deleting = true
              this.$http.delete('/posts/' + this.post.id).then(() => {
                this.$router.push({name: 'Posts', params: {}})
                this.$snotify.success('Post successfully deleted.', 'Deleted!', {timeout: 3000})
              }, () => {
                this.$snotify.error('Something went wrong while deleting the post. Please try again.', 'Oops!', {timeout: 3000})
              }).then(() => {
                this.deleting = false
              })
            }
          },
          {
            text: 'No',
            action: (toast) => {
              this.$snotify.remove(toast.id)
            }
          }
        ]
      })
    },
    saveComment() {
      if (this.validateComment()) {
        this.commenting = true
        this.$http.request({
          method: this.comment.id ? 'put' : 'post',
          url: this.comment.id ? '/comments/' + this.comment.id : '/posts/' + this.post.id + '/comments',
          data: {
            content: this.comment.content
          }
        }).then((res) => {
          this.comments.push(res.data.data)
          this.comment = {id: null, content: ''}
          this.commentValidated = false
          this.$snotify.success('Your comment successfully saved.', 'Success!', {timeout: 3000})
          this.$router.push({name: 'Post', params: {id: this.post.id}})
        }, () => {
          this.$snotify.error('Something went wrong while saving your comment. Please try again.', 'Oops!', {timeout: 3000})
        }).then(() => {
          this.commenting = false
        })
      }
    },
    validateComment() {
      this.commentValidated = true
      return this.comment.content != '';
    }
  },
  created() {
    if(this.$route.params.id) {
      this.loadPost(this.$route.params.id)
    } else {
      this.post = this.item
    }
  }
}
</script>

<style lang="scss" scoped>
.comments {
  .comment {
    .time {
      font-size: 0.8rem;
    }
  }
}
</style>
