<template lang="html">
  <div class="container post-container mt-5">
    <h2>Create New Post</h2>

    <div class="mt-5">
      <b-form>
        <b-form-group
          label="Post Title" label-for="post-title"
          description="Your concern in short"
          :invalid-feedback="post.title ? null : 'Post title is required'"
          :state="validated ? post.title != '' : null">
          <b-form-input
            v-model="post.title"
            id="post-title"
            placeholder="Enter the post title here" :state="validated ? post.title != '' : null"></b-form-input>
        </b-form-group>
        <b-form-group
          label="Post Content" label-for="post-body"
          :invalid-feedback="post.body ? null : 'Post content is required'"
          :state="validated ? post.body != '' : null">
          <b-form-textarea
            id="post-body"
            v-model="post.body"
            placeholder="Describe your concern in detail"
            rows="5"
            max-rows="20"
            :state="validated ? post.body != '' : null"></b-form-textarea>
        </b-form-group>
        <div class="text-right">
          <router-link :to="{ name: 'Posts', params: {} }" class="btn btn-outline">Cancel</router-link>
          <b-button variant="success" @click="save()">
            <b-spinner small v-if="loading"></b-spinner>
            Submit Post
          </b-button>
        </div>
      </b-form>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    item: {
      type: Object,
      default: null
    }
  },
  data () {
    return {
      post: {
        title: '',
        body: ''
      },
      validated: false,
      loading: false,
      statuses: {
        pending: 0,
        approved: 1
      }
    }
  },
  methods: {
    loadPost(id) {
      this.$http.get('/posts/' + id).then((res) => {
        this.post = res.data.data
      })
    },
    save() {
      if (this.validate()) {
        this.loading = true
        this.$http.request({
          method: this.post.id ? 'put' : 'post',
          url: this.post.id ? '/posts/' + this.post.id : '/posts',
          data: {
            title: this.post.title,
            body: this.post.body
          }
        }).then((res) => {
          let msg = 'Thank you for posting. Your post will be visible to others after approval of the forum administator.'
          if (this.$auth.check('admin') || this.post.id && this.post.status == this.statuses.approved) {
            msg = 'Your post successfully saved.'
          }

          this.post = res.data.data

          this.$snotify.success(msg, 'Success!', {timeout: 3000})
          this.$router.push({name: 'Post', params: {id: this.post.id}})
        }, () => {
          this.$snotify.error('Something went wrong while saving your post. Please try again.', 'Oops!', {timeout: 3000})
        }).then(() => {
          this.loading = false
        })
      }
    },
    validate() {
      this.validated = true
      return this.post.title && this.post.body;
    }
  },
  created() {
    if(this.$route.params.id) {
      this.loadPost(this.$route.params.id)
    } else if(this.item) {
      this.post = this.item
    }
  }
}
</script>

<style lang="css" scoped>
</style>
