<template lang="html">
  <div class="container posts-container mt-5">
    <div class="mb-4" v-if="mode == 'admin'" >
      <h2>Posts Pending For Administator Approval</h2>
      <hr>
    </div>
    <div class="mb-5">
      <b-input-group class="mb-3">
        <b-input-group-prepend>
          <b-input-group-text>
            <b-spinner small v-if="loading"></b-spinner>
            <i class="bi-search" v-else></i>
          </b-input-group-text>
        </b-input-group-prepend>
        <b-form-input
          type="text"
          class="form-control"
          placeholder="Start typing to search by content or user"
          autocomplete="username email"
          v-model="query"
          @keyup="search()"/>
      </b-input-group>
    </div>
    <div class="mb-5 post" v-for="post in posts" :key="post.id">
      <router-link :to="{ name: 'Post', params: { id: post.id } }">
        <h2 class="title">{{ post.title }}</h2>
      </router-link>
      <div class="text-muted mb-2 time">
        By {{ post.user }} at {{ post.created_at }}
      </div>
      <div class="">
        {{ post.body.substring(0, 200) }}
      </div>
    </div>
    <div class="mb-5">
      <b-button variant="outline-primary" block @click="loadNextPage()">
        <b-spinner small v-if="loading"></b-spinner>
        Load more
      </b-button>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    mode: {
      type: String,
      default: 'view' // view, admin
    }
  },
  data () {
    return {
      posts: [],
      query: '',
      currentPage: 1,
      loading: false
    }
  },
  watch: {
    mode () {
      this.search()
    }
  },
  methods: {
    loadData(params, replace) {
      if (this.mode == 'admin') {
        params.status = 0
      }
      this.loading = true
      this.$http.get('/posts', {
        params: params
      }).then((res) => {
        this.$snotify.clear()
        if (res.data.data && res.data.data.length) {
          this.posts = replace ? res.data.data : this.posts.concat(res.data.data)
          this.currentPage = params && params.page ? params.page : 1;
        } else {
          if (replace) {
            this.posts = []
          }
          let title = this.posts.length ? "Complete" : "Sorry!"
          let msg = this.posts.length ? "That's all we could find." : "No posts found."
          this.$snotify.info(msg, title, {timeout: 3000})
        }
        this.loading = false
      })
    },
    loadNextPage() {
      this.loadData({
        page: ++this.currentPage,
        search: this.query
      })
    },
    search() {
      this.currentPage = 1
      this.loadData({
        page: this.currentPage,
        search: this.query
      }, true)
    }
  },
  created() {
    this.loadData({
      page: this.currentPage
    })
  }
}
</script>

<style lang="scss" scoped>
.post {
  .title {
    font-size: 1.4rem;
  }

  .time {
    font-size: 0.8rem;
  }
}
</style>
